body {
    background-color: #222;
    color: #ccc;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255, 255, 255, .6);
}

.badge-primary {
    background-color: #004cf8;
}

.img-hl img {
    box-shadow: 0 0 3pt 1pt #aaa, inset 0 0 3pt 1pt #aaa;
}

.fake-link {
    cursor: pointer;
}

.skill-bg {
    background-color: #111;
    border: 2px solid #555;
    border-radius: 5px;
    padding: 5px;
}

.live-view {
    border: 2px solid #ccc;
    border-radius: 5px;
}

.song-group-muse {
    background-color: #351428;
    border-color: #8f366c;
}

.song-group-aqours {
    background-color: #002b3f;
    border-color: #0070a4;
}

.song-group-nijigasaki {
    background-color: #4d3b15;
    border-color: #a8812e;
}

.level-type-normal {
    border: 2px solid #ccc;
    border-radius: 5px;
    background-color: #1E162A;
}

.level-type-normal:hover {
    background-color: #2A1F3B;
}

.level-type-super {
    border: 2px solid #ccc;
    border-radius: 5px;
    background-color: #40280E;
}

.level-type-super:hover {
    background-color: #593713;
}

.btn.focus {
    box-shadow: none;
}

.button-easy {
    color: #fff;
    background-color: #1212ac;
    border-color: #1212ac;
}

.button-easy.active {
    border-color: #fff;
}

.button-easy:hover {
    color: #aaa;
}

.button-normal {
    color: #fff;
    background-color: #127812;
    border-color: #127812;
}

.button-normal.active {
    border-color: #fff;
}

.button-normal:hover {
    color: #aaa;
}

.button-adv {
    color: #fff;
    background-color: #585800;
    border-color: #585800;
}

.button-adv.active {
    border-color: #fff;
}

.button-adv:hover {
    color: #aaa;
}

.button-advplus {
    color: #fff;
    background-color: #681212;
    border-color: #681212;
}

.button-advplus.active {
    border-color: #fff;
}

.button-advplus:hover {
    color: #aaa;
}
