{% extends 'base.html' %}

{% set card = card_info(card_id) %}
{% set member = member_info(card['member_id']) %}
{% set attribute = attributes()[card['attribute']] %}
{% set attrib_bg = tex(attribute['background_image_asset']) %}

{% set active_page = '' -%}
{% set title = "Card View" %}
{% set description = 'Card #%d: %s - %s' % (card['no'], member|loc_name, card['appearance']['idolized']|loc_name) %}
{% set embed_image = tex(card['appearance']['idolized']['thumbnail_image_asset']) %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-xl-8 col-12">
            <div class="row justify-content-center py-2">
                <div class="col-auto d-flex align-items-end justify-content-xl-end justify-content-md-center">
                    <h2 class="mb-0">Card No. {{card['no']}}</h5>
                </div>
                <div class="col-auto d-flex align-items-end justify-content-xl-start justify-content-md-center">
                    <img height="32" class="px-1" src="{{member_icon(card['member_id'])}}" />
                    <img height="40" class="px-1" src="{{icon(card['rarity'])}}" />
                    <img height="32" class="px-1" src="{{icon(card['attribute'])}}" />
                    <img height="32" class="px-1" src="{{icon(card['role'])}}" />
                    {% if card['is_fes'] %}
                    <img height="40" class="px-1" src="{{icon('fes')}}" />
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="col-12 text-center py-1">
                    {% set appearance = card['appearance']['unidolized'] %}
                    <img style="background-image: url({{attrib_bg}}); background-size: contain;" class="w-100"
                        src="{{tex(appearance['full_image_asset'])}}" />
                    <caption>{{appearance['name_jp']}}</caption>
                    {% if appearance['name_en'] %}
                    <caption>/ {{appearance['name_en']}}</caption>
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="col-12 text-center py-1">
                    {% set appearance = card['appearance']['idolized'] %}
                    <img style="background-image: url({{attrib_bg}}); background-size: contain;" class="w-100"
                        src="{{tex(appearance['full_image_asset'])}}" />
                    <caption>{{appearance['name_jp']}}</caption>
                    {% if appearance['name_en'] %}
                    <caption>/ {{appearance['name_en']}}</caption>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-12 py-5">
            <h4>Active Skill</h4>
            {% for skill in card['skills']['active'] %}
            <div class="row justify-content-start">
                <div class="col-3">
                    <img height="72" src="{{tex(skill['thumbnail_image_asset'])}}" />
                </div>
                <div class="col text-left">
                    <h6><strong>{{skill['name_jp']}} {% if skill['name_en'] %}({{skill['name_en']}}){% endif %}</strong>
                    </h6>
                    {% set skill_effects = skill|skill %}
                    {% for skill_info in skill_effects %}
                    <p>{{skill_info['effect']}}</p>
                    <p>{% if skill_info['trigger'] %}On: {{skill_info['trigger']}}{% endif %}
                        {% if skill_info['target'] %}Target: <strong>{{skill_info['target']}}</strong>{% endif %}</p>
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
            <h4>Passive Skills</h4>
            {% for skill in card['skills']['passive'] %}
            <div class="row justify-content-start">
                <div class="col-3">
                    <img height="72" src="{{tex(skill['thumbnail_image_asset'])}}" />
                </div>
                <div class="col text-left">
                    {% set skill_effects = skill|skill %}
                    {% for skill_info in skill_effects %}
                    <p>{{skill_info['effect']}}</p>
                    {% if skill_info['trigger'] %}<p>Trigger: <strong>{{skill_info['trigger']}}</strong></p>{% endif %}
                    {% if skill_info['target'] %}<p>Target: <strong>{{skill_info['target']}}</strong></p>{% endif %}
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
            <div class="row">
                <div class="col">
                    <table class="table text-center">
                        <thead>
                            <tr>
                                <th scope="col"></th>
                                <th scope="col"><img height="32" src="{{icon('appeal')}}" /></th>
                                <th scope="col"><img height="32" src="{{icon('stamina')}}" /></th>
                                <th scope="col"><img height="32" src="{{icon('technique')}}" />
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for i in range(0, 6) %}
                            {% set stats = card['stats']['stat_summary'][i|string] %}
                            <tr>
                                <th scope="row" class="align-middle" style="font-size: 0;">
                                    {% for j in range(i) %}
                                    <img width="16" src="{{icon('lb_full')}}" />
                                    {% endfor %}
                                    {% for j in range(5 - i) %}
                                    <img width="16" src="{{icon('lb_empty')}}" />
                                    {% endfor %}
                                </th>
                                <td>{{stats['appeal']}}</td>
                                <td>{{stats['stamina']}}</td>
                                <td>{{stats['technique']}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            {% if card['outfits']|length > 0 %}
            <h4>Outfit</h4>
            <div class="row py-3">
                {% for suit in card['outfits'] %}
                <div class="col-6">
                    <div>
                        <img src="{{tex(suit['thumbnail_image_asset'])}}" />
                        <p class="py-1">
                            {{suit['name_jp']}}
                            {% if suit['name_en'] %}
                            <br />{{suit['name_en']}}
                            {% endif %}
                        </p>
                    </div>
                </div>
                {% endfor %}
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock content %}