{% extends 'base.html' %}

{% set live = live_info(live_id) %}
{% set attributes = attributes() %}

{% block scripts %}
{{super()}}
<script src="{{url_for('.static', filename='js/live_view.js')}}?v=1.0.0"></script>
{% endblock scripts %}

{% set difficulty_vals = [('easy', "Easy", 'easy'), ('normal', "Normal", 'normal'), ('advanced', "Advanced", 'adv'), ('advanced_plus', "Advanced+", 'advplus')] %}

{% set active_page = '' -%}
{% set title = "Live View" %}
{% set description = 'Live - %s by %s' % (live|loc_name, live|loc_name(name="artist")) %}
{% set embed_image = tex(live['jacket_image_asset']) %}

{% block content %}
<div class="container">
    <div class="row py-3 text-center">
        <div class="col-lg-4">
            <img class="img-fluid" src="{{tex(live['jacket_image_asset'])}}" alt="" />
        </div>
        <div class="col-lg-8">
            <div class="row">
                <div class="col">
                    <div style="font-size: 2rem;"><strong>{{live['name_jp']}}</strong></div>
                    {% if live['name_en'] %}
                    <div style="font-size: 1.5rem;">{{live['name_en']}}</div>
                    {% endif %}
                    <div>by {{live|loc_name(name="artist")}}</div>
                </div>
            </div>
            <div class="row d-flex justify-content-center py-2">
                {% for mid in live['member_order'] %}
                {% set member = member_info(mid) %}
                <div class="col px-1 text-center" style="max-width: fit-content;">
                    <div class="row">
                        <div class="col">
                            <img class="img-fluid" src="{{tex(member['thumbnail_asset_path'])}}" alt="" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            {% if mid in live['member_centers'] %}
                            <div class="badge">CENTER</div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="row py-1">
                <div class="col text-center">
                    <p>Select Difficulty:</p>
                    <div id="difficulty-selector" class="btn-group btn-group-lg btn-group-toggle"
                        style="flex-wrap: wrap;" data-toggle="buttons">
                        {% for diff_id, diff_name, diff_style in difficulty_vals %}
                        {% if live['difficulties'][diff_id] %}
                        <label class="btn button-{{diff_style}}">
                            <input type="radio" name="difficulties" id="{{diff_id}}" autocomplete="off">
                            <img width="32" src="{{icon(live['difficulties'][diff_id]['attribute'])}}" alt="" />
                            <span>{{diff_name}}</span>
                        </label>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% for diff_id, diff_name, diff_style in difficulty_vals %}
    {% if live['difficulties'][diff_id] %}
    {% set diff = live['difficulties'][diff_id] %}
    <div class="diff-block row py-2" id="diff-{{diff_id}}" hidden>
        <div class="col">
            <div class="row text-center justify-content-center">
                <div class="col-12">
                    <h3>{{diff_name}}</h3>
                </div>
                <div class="col-auto px-3">
                    <p>Recommended Power: {{diff['recommended_power']}}</p>
                </div>
                <div class="col-auto px-3">
                    <p>Recommended Stamina: {{diff['recommended_stamina']}}</p>
                </div>
            </div>
            <div class="row text-center justify-content-center">
                <div class="col-auto px-3">
                    <p>LP: {{diff['lp_needed']}}</p>
                </div>
                <div class="col-auto px-3">
                    <p>EXP: {{diff['completion_exp']}}</p>
                </div>
                <div class="col-auto px-3">
                    <p>Bond: {{diff['completion_bond']}}</p>
                </div>
                <div class="col-auto px-3">
                    <p>SP Gauge Capacity: {{diff['sp_gauge']}}</p>
                </div>
                <div class="col-auto px-3">
                    <p>Damage per Note: {{diff['damage_per_note']}}</p>
                </div>
                <div class="col-auto px-3">
                    <p>Appeal Cap: {{diff['max_appeal']}}</p>
                </div>
            </div>
            <div class="row text-center justify-content-center py-2">
                <div class="col-xl-6 col-12">
                    <table class="table" style="color: #fff;">
                        <thead>
                            <tr>
                                <th>S Rank</th>
                                <th>A Rank</th>
                                <th>B Rank</th>
                                <th>C Rank</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                {% for v in ['s', 'a', 'b', 'c'] %}
                                <td>
                                    {{'{0:,}'.format(diff['voltage_requirements'][v])}}
                                </td>
                                {% endfor %}
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row text-center py-2">
                <div class="col">
                    {{diff|loc_name(name='hint')}}
                </div>
            </div>
            <div class="row text-center py-4">
                <div class="col skill-bg">
                    <h4>Gimmick:</h4>
                    {% if diff['gimmick_effects'] %}

                    {% for effect in diff['gimmick_effects'] %}
                    <span>{{effect['effect']['display']}}{% if effect['effect']['until'] %}
                        {{effect['effect']['until']['display']}}</span>{% endif %}
                    {% if effect['target'] %}
                    <br />
                    <span>Target: <strong>{{effect['target']['display']}}</strong></span>
                    {% endif %}
                    {% if effect['trigger'] %}
                    <br />
                    <span>Trigger: <strong>{{effect['trigger']['display']}}</strong></span>
                    {% endif %}
                    {% endfor %}

                    {% else %}
                    <p>None.</p>
                    {% endif %}
                </div>
            </div>
            <div class="row text-center py-3">
                <div class="col-md mx-1">
                    <h4 class="py-2">Note Gimmicks:</h4>
                    {% if diff['note_gimmicks'] %}

                    {% for note in diff['note_gimmicks'] %}
                    <div class="row my-2 skill-bg">
                        <div class="col">
                            <div class="my-1">
                                <img height="32" width="32" style="background-color: #ccc; border-radius: 5px;"
                                    src="{{tex(note['icon_image_asset'])}}" alt="" />
                            </div>
                            {% for effect in note['effects'] %}
                            <span>{{effect['effect']['display']}}{% if effect['effect']['until'] %}
                                {{effect['effect']['until']['display']}}{% endif %}
                            </span>
                            {% if effect['target'] %}
                            <br />
                            <span>Target: <strong>{{effect['target']['display']}}</strong></span>
                            {% endif %}
                            <br />
                            <span>Applies: <strong>{{effect['note_apply']['display']}}</strong></span>
                            {% endfor %}
                        </div>
                    </div>
                    {% endfor %}

                    {% else %}
                    <p>None.</p>
                    {% endif %}
                </div>
                <div class="col-md mx-1">
                    <h4 class="py-2">Appeal Chances:</h4>

                    {% for chance in diff['appeal_chances'] %}
                    <div class="row my-2 skill-bg">
                        <div class="col">
                            <h5>{{chance|loc_name}}</h5>
                            {% if chance['effects'] %}
                            {% for effect in chance['effects'] %}
                            <span>{{effect['effect']['display']}}{% if effect['effect']['until'] %}
                                {{effect['effect']['until']['display']}}{% endif %}
                            </span>
                            {% if effect['target'] %}
                            <br />
                            <span>Target: <strong>{{effect['target']['display']}}</strong></span>
                            {% endif %}
                            <br />
                            <span>Applies: <strong>{{effect['ac_apply']['display']}}</strong></span>
                            {% endfor %}
                            {% else %}
                            <p>No effect.</p>
                            {% endif %}
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    {% endfor %}
</div>
{% endblock content %}