<!doctype html>
<html lang="en">

{% set navigation_bar = [
    ('/', 'home', 'Home'),
    ('/cards', 'cards', 'Cards'),
    ('/lives', 'lives', 'Lives'),
    ('/events', 'events', 'Events'),
    ('/accessories', 'accessories', 'Accessories')
] -%}

{% import 'macros/card_macros.html' as cm %}
{% import 'macros/live_macros.html' as lm %}
{% import 'macros/accessory_macros.html' as am %}
{% import 'macros/event_macros.html' as em %}

{% set active_page = active_page|default('') -%}
{% set title = title|default("Home") %}
{% set description = description|default("") %}
{% set embed_image = embed_image|default("") %}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="{{description}}">

    <title>SIFAS - {{title}}</title>
    {% block meta %}
    <meta property="og:site_name" content="Snep's SIFAS Hub" />
    <meta property="og:title" content="{{title}}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{request.url}}" />
    <meta property="og:image" content="{{embed_image}}" />
    <meta property="og:description" content="{{description}}" />
    {% endblock %}

    {% block styles %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('.static', filename='css/base.css')}}?v=1.0.5" />
    {% endblock %}
</head>

<body>
    {% block navbar %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">SIFAS Hub</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMain"
            aria-controls="navbarMain" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarMain">
            <ul class="navbar-nav mr-auto">
                {% for href, id, title in navigation_bar %}
                <li class="nav-item {% if id == active_page %}active{% endif %}">
                    <a class="nav-link" href="{{href}}">{{title}}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </nav>
    {% endblock %}
    {% block content %}{% endblock %}

    {% block scripts %}
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous">
    </script>
    {% endblock scripts %}
</body>

</html>