{% macro expanded_card_view(card_id) %}
{% set card = card_info(card_id) %}
{% set attribute = attributes()[card['attribute']] %}
{% set attrib_bg = tex(attribute['background_image_asset']) %}
<div class="card-info">
    <div class="row justify-content-center py-2">
        <div class="col-md-6 d-flex align-items-end justify-content-xl-end justify-content-md-center">
            <span style="font-size: 1.5rem;" class="mb-0">Card No. {{card['no']}}</span>
        </div>
        <div class="col-md-6 d-flex align-items-end justify-content-xl-start justify-content-md-center">
            <img height="32" class="px-1" src="{{member_icon(card['member_id'])}}" alt="" />
            <img height="40" class="px-1" src="{{icon(card['rarity'])}}" alt="" />
            <img height="32" class="px-1" src="{{icon(card['attribute'])}}" alt="" />
            <img height="32" class="px-1" src="{{icon(card['role'])}}" alt="" />
            {% if card['is_fes'] %}
            <img height="28" class="px-1" src="{{icon('fes')}}" alt="FES Card" />
            {% endif %}
        </div>
    </div>
    <a style="text-decoration: none; color: inherit;" href="/card/{{card_id}}">
        <div class="row">
            <div class="col-md-6 text-center py-1">
                {% set appearance = card['appearance']['unidolized'] %}
                <img style="background-image: url({{attrib_bg}}); background-size: contain;" class="w-100"
                    src="{{tex(appearance['full_image_asset'])}}" alt="" />
                <caption>{{appearance['name_jp']}}</caption>
                {% if appearance['name_en'] %}
                <caption>/ {{appearance['name_en']}}</caption>
                {% endif %}
            </div>
            <div class="col-md-6 text-center py-1">
                {% set appearance = card['appearance']['idolized'] %}
                <img style="background-image: url({{attrib_bg}}); background-size: contain;" class="w-100"
                    src="{{tex(appearance['full_image_asset'])}}" alt="" />
                <caption>{{appearance['name_jp']}}</caption>
                {% if appearance['name_en'] %}
                <caption>/ {{appearance['name_en']}}</caption>
                {% endif %}
            </div>
        </div>
    </a>
    <div class="row justify-content-center py-4">
        <div class="col-md-6">
            <div class="row justify-content-xl-end">
                <div class="col-xl-8">
                    <table class="table table-sm text-center" style="color: #fff;">
                        <thead>
                            <tr>
                                <th scope="col"></th>
                                <th scope="col"><img height="32" src="{{icon('appeal')}}" alt="Appeal" /></th>
                                <th scope="col"><img height="32" src="{{icon('stamina')}}" alt="Stamina" /></th>
                                <th scope="col"><img height="32" src="{{icon('technique')}}" alt="Technique" />
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">
                                    {% for j in range(5) %}
                                    <img width="16" src="{{icon('lb_empty')}}" alt="" />
                                    {% endfor %}
                                </th>
                                {% set stats = card['stats']['stat_summary']['0'] %}
                                <td>{{stats['appeal']}}</td>
                                <td>{{stats['stamina']}}</td>
                                <td>{{stats['technique']}}</td>
                            </tr>
                            <tr>
                                <th scope="row">
                                    {% for j in range(5) %}
                                    <img width="16" src="{{icon('lb_full')}}" alt="" />
                                    {% endfor %}
                                </th>
                                {% set stats = card['stats']['stat_summary']['5'] %}
                                <td>{{stats['appeal']}}</td>
                                <td>{{stats['stamina']}}</td>
                                <td>{{stats['technique']}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-12 row pb-2">
                    {% for skill in card['skills']['active'] %}
                    <div class="col-12 py-1 text-left">
                        <img height="32" src="{{tex(skill['thumbnail_image_asset'])}}" alt="" />
                        {{skill|skill_short(split=", ")}}
                    </div>
                    {% endfor %}
                </div>
                <div class="col-12 row pt-2">
                    {% for skill in card['skills']['passive'] %}
                    <div class="col-12 py-1 text-left">
                        <img height="32" src="{{tex(skill['thumbnail_image_asset'])}}" alt="" />
                        {{skill|skill_short(split=", ")}}
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endmacro %}

{% macro thumb_card_view(card_id) %}
{% set card = card_info(card_id) %}
<div class="card-info mx-auto" style="width: 210px">
    <div class="row justify-content-between text-left">
        <div class="col-4 px-0">
            <span style="font-size: 1.5rem;">#{{card['no']}}</span>
        </div>
        <div class="col-8 px-0">
            <img height="28" class="float-right px-1" src="{{icon(card['role'])}}" alt="" />
            <img height="28" class="float-right px-1" src="{{icon(card['attribute'])}}" alt="" />
            <img height="28" class="float-right px-1" src="{{icon(card['rarity'])}}" alt="" />
            <img height="28" class="float-right px-1" src="{{member_icon(card['member_id'])}}" alt="" />
        </div>
    </div>
    <div class="row justify-content-between">
        <div class="col-6 p-0 text-left">
            <img width="116" height="116" src="{{tex(card['appearance']['unidolized']['thumbnail_image_asset'])}}"
                alt="" />
        </div>
        <div class="col-6 p-0 text-right">
            <img width="116" height="116" src="{{tex(card['appearance']['idolized']['thumbnail_image_asset'])}}"
                alt="" />
        </div>
    </div>
    <div class="row py-1 justify-content-between">
        <div class="col-6 px-0">
            <div class="float-left">
                {% for suit in card['outfits'] %}
                <img title="{{suit|loc_name}}" height="32" src="{{tex(suit['thumbnail_image_asset'])}}" alt="" />
                {% endfor %}
            </div>
            <div class="float-right">
                {% if card['is_fes'] %}
                <img title="FES Card / 4 Inspiration Slots" width="48" src="{{icon('fes')}}" alt="FES Card" />
                {% endif %}
            </div>
        </div>
        <div class="col-6 px-0" style="font-size: 10px;">
            <div class="float-left">
                {% for skill in card['skills']['active'] %}
                <img title="{{skill|skill_short}}" height="32" src="{{tex(skill['thumbnail_image_asset'])}}" alt="" />
                {% endfor %}
            </div>
            <div class="float-right">
                {% for skill in card['skills']['passive'] %}
                <img title="{{skill|skill_short}}" height="32" src="{{tex(skill['thumbnail_image_asset'])}}" alt="" />
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endmacro %}