{% extends 'base.html' %}

{% set active_page = 'cards' -%}
{% set title = "Card List" %}
{% set description = "List of all cards in SIFAS" %}

{% block scripts %}
{{super()}}
<script src="{{url_for('.static', filename='js/card_list.js')}}?v=1.0.5"></script>
{% endblock scripts %}

{% set card_skills = all_card_skill_info() %}
{% set members = member_info() %}
{% set groups = group_info() %}

{% block content %}
<button id="back-to-top" class="btn btn-primary"
    style="display: none; position: fixed; top: 10px; right: 10px; z-index: 99;" onclick="backToTop()">Back to
    Top</button>
<div class="container justify-content-center text-center">
    <div class="row text-center py-1">
        <div class="col">
            <h1>Card List</h1>
        </div>
    </div>
    <div class="row show-on-load" style="display: none;">
        <!-- START OF SORTER BAR -->
        <div class="col">
            <!-- START OF MEMBER SORT ROW -->
            <div class="row align-items-center justify-content-center py-3">
                <div class="col-auto">
                    {% for group in groups.values() %}
                    <div class="row my-3 justify-content-center">
                        {% for member in members.values()|selectattr('group.id', 'equalto', group['id']) %}
                        <div class="col px-1 py-1">
                            <div class="fake-link member-filter" member-id="{{member['id']}}"><img height="36"
                                    src="{{tex(member['icon_color_image_asset'])}}" alt="" /></div>
                        </div>
                        {% endfor %}
                    </div>
                    {% endfor %}
                </div>
                <div class="col-md-2 col-12">
                    <div class="row justify-content-center">
                        {% for group in groups.values() %}
                        <div class="col-md-12 col-4 my-2">
                            <div class="fake-link group-filter" group-id="{{group['id']}}"><img height="36"
                                    src="{{tex(group['logo_image_asset'])}}" alt="" /></div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <!-- END OF MEMBER SORT ROW -->
            <!-- OTHER SORT ROW -->
            <div class="row align-items-center justify-content-around py-3 mx-1">
                <!-- RARITY SORT -->
                <div class="col-auto mx-2">
                    <div class="row justify-content-center">
                        <div class="col-auto px-1 py-1">
                            <span class="fake-link rarity-filter py-1" rarity-id="r"><img height="40"
                                    src="{{icon('r')}}" alt="R" /></span>
                        </div>
                        <div class="col-auto px-1 py-1">
                            <span class="fake-link rarity-filter py-1" rarity-id="sr"><img height="40"
                                    src="{{icon('sr')}}" alt="SR" /></span>
                        </div>
                        <div class="col-auto px-1 py-1">
                            <span class="fake-link rarity-filter py-1" rarity-id="ur"><img height="40"
                                    src="{{icon('ur')}}" alt="UR" /></span>
                        </div>
                        <div class="col-auto px-1 py-1">
                            <div class="fake-link fes-filter"><img height="40" src="{{icon('fes')}}" alt="FES" /></div>
                        </div>
                    </div>
                </div>
                <!-- ATTRIBUTE SORT -->
                <div class="col-auto mx-2">
                    <div class="row justify-content-center">
                        <div class="col-auto px-1 py-1">
                            <span class="fake-link attribute-filter" attribute-id="smile"><img width="36"
                                    src="{{icon('smile')}}" alt="Smile" /></span>
                        </div>
                        <div class="col-auto px-1 py-1">
                            <span class="fake-link attribute-filter" attribute-id="pure"><img width="36"
                                    src="{{icon('pure')}}" alt="Pure" /></span>
                        </div>
                        <div class="col-auto px-1 py-1">
                            <span class="fake-link attribute-filter" attribute-id="cool"><img width="36"
                                    src="{{icon('cool')}}" alt="Cool" /></span>
                        </div>
                        <div class="col-auto px-1 py-1">
                            <span class="fake-link attribute-filter" attribute-id="active"><img width="36"
                                    src="{{icon('active')}}" alt="Active" /></span>
                        </div>
                        <div class="col-auto px-1 py-1">
                            <span class="fake-link attribute-filter" attribute-id="natural"><img width="36"
                                    src="{{icon('natural')}}" alt="Natural" /></span>
                        </div>
                        <div class="col-auto px-1 py-1">
                            <span class="fake-link attribute-filter" attribute-id="elegant"><img width="36"
                                    src="{{icon('elegant')}}" alt="Elegant" /></span>
                        </div>
                    </div>
                </div>
                <!-- ROLE SORT -->
                <div class="col-auto mx-2">
                    <div class="row justify-content-center">
                        <div class="col-auto px-1 py-1">
                            <span class="fake-link role-filter py-1" role-id="vo"><img width="36" src="{{icon('vo')}}"
                                    alt="Vo" />
                            </span>
                        </div>
                        <div class="col-auto px-1 py-1">
                            <span class="fake-link role-filter py-1" role-id="sp"><img width="36" src="{{icon('sp')}}"
                                    alt="Sp" />
                            </span>
                        </div>
                        <div class="col-auto px-1 py-1">
                            <span class="fake-link role-filter py-1" role-id="gd"><img width="36" src="{{icon('gd')}}"
                                    alt="Gd" />
                            </span>
                        </div>
                        <div class="col-auto px-1 py-1">
                            <span class="fake-link role-filter py-1" role-id="sk"><img width="36" src="{{icon('sk')}}"
                                    alt="Sk" />
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END OF OTHER SORT ROW -->
            <div class="row align-items-center justify-content-center py-1 mx-1">
                <div class="col-md-3 col-12">
                    <div class="form-group">
                        <label for="set-sort">Filter to SR set:</label>
                        <select class="form-control" id="set-sort">
                            <option value="">None</option>
                            {% for set in sets() %}
                            <option value="{{set['id']}}">{{set|loc_name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="col-md-3 col-12">
                    <div class="form-group">
                        <label for="active-sort">Filter to Skill:</label>
                        <select class="form-control" id="active-sort">
                            <option value="">None</option>
                            {% for skill in card_skills['active'] %}
                            <option value="{{skill['id']}}">{{skill['display']}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="col-md-3 col-12">
                    <div class="form-group">
                        <label for="passive-sort">Filter to Ability:</label>
                        <select class="form-control" id="passive-sort">
                            <option value="">None</option>
                            {% for skill in card_skills['passive'] %}
                            <option value="{{skill['id']}}">{{skill['display']}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <!-- END OF SORT BAR -->
    </div>
    <div class="row align-items-center justify-content-center py-3 show-on-load" style="display: none;">
        {% for cid in cards() %}
        {% set card = card_info(cid) %}
        {% set classes = card|card_classes %}
        <div class="col-xl-3 col-md-auto px-5 py-3 filtered-card {{' '.join(classes)}}">
            <a href="/card/{{cid}}" style="text-decoration: inherit; color: inherit;">
                {{cm.thumb_card_view(cid)}}
            </a>
        </div>
        {% endfor %}
    </div>
    <div class="row text-center hide-on-load">
        <div class="col">
            <h2>Loading...</h2>
            <noscript>You must enable JavaScript to view this page.</noscript>
        </div>
    </div>
</div>
{% endblock content %}