{% extends 'base.html' %}

{% set card = card_info(card_id) %}
{% set member = member_info(card['member_id']) %}
{% set attribute = attributes()[card['attribute']] %}
{% set attrib_bg = tex(attribute['background_image_asset']) %}

{% set rarity_display = card['rarity']|upper %}
{% set role_display = card['role'][0]|upper + card['role'][1:] %}
{% set attrib_display = card['attribute'][0]|upper + card['attribute'][1:] %}

{% set active_page = '' -%}
{% set title = "Card - %s %s" % (card['appearance']['idolized']|loc_name, member|loc_name) %}
{% set description = 'Card #%d (%s) - %s Type, %s.' % (card['no'], rarity_display, role_display, attrib_display) %}
{% set embed_image = tex(card['appearance']['idolized']['thumbnail_image_asset']) %}

{% set desc = {'val':description} %}
{% for skill in card['skills']['active'] %}
{% if desc.update({'val': desc['val'] + '\nSkill: ' + skill|skill_short}) %}{% endif %}
{% endfor %}
{% for skill in card['skills']['passive'] %}
{% if desc.update({'val': desc['val'] + '\n' + ('Abilities:\n   ' if loop.first else '   ') + skill|skill_short(split=" & ")}) %}{% endif %}
{% endfor %}
{% set description = desc['val'] %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-xl-8 col-12">
            <div class="row justify-content-center py-2">
                <div class="col-auto d-flex align-items-end justify-content-xl-end justify-content-md-center">
                    <h2 class="mb-0">Card No. {{card['no']}}</h5>
                </div>
                <div class="col-auto d-flex align-items-end justify-content-xl-start justify-content-md-center">
                    <img height="32" class="px-1" src="{{member_icon(card['member_id'])}}" alt="" />
                    <img height="40" class="px-1" src="{{icon(card['rarity'])}}" alt="" />
                    <img height="32" class="px-1" src="{{icon(card['attribute'])}}" alt="" />
                    <img height="32" class="px-1" src="{{icon(card['role'])}}" alt="" />
                    {% if card['is_fes'] %}
                    <img height="40" class="px-1" src="{{icon('fes')}}" alt="FES Card" />
                    {% endif %}
                    {% if card['card_type'] == 'event_reward' %}
                    <span class="mx-2 badge badge-primary">Event Reward</span>
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="col-12 text-center py-1">
                    {% set appearance = card['appearance']['unidolized'] %}
                    <img style="background-image: url({{attrib_bg}}); background-size: contain;" class="w-100"
                        src="{{tex(appearance['full_image_asset'])}}" alt="" />
                    <caption>{{appearance['name_jp']}}</caption>
                    {% if appearance['name_en'] %}
                    <caption>/ {{appearance['name_en']}}</caption>
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="col-12 text-center py-1">
                    {% set appearance = card['appearance']['idolized'] %}
                    <img style="background-image: url({{attrib_bg}}); background-size: contain;" class="w-100"
                        src="{{tex(appearance['full_image_asset'])}}" alt="" />
                    <caption>{{appearance['name_jp']}}</caption>
                    {% if appearance['name_en'] %}
                    <caption>/ {{appearance['name_en']}}</caption>
                    {% endif %}
                </div>
            </div>
            {% if card['event_introduced'] %}
            <div class="row">
                <div class="col text-center py-2">
                    <span style="font-size: 1.5rem;">Introduced:</span>
                    {% set event = event_info(card['event_introduced']) %}
                    <div class="w-100">
                        <img class="img-fluid" style="max-height: 150px;" src="{{banner(event['banner'])}}"
                            alt="Event Banner">
                    </div>
                    {% if event['name_jp'] %}
                    <caption>{{event['name_jp']}}</caption>
                    {% if event['name_en'] %}
                    <caption> / {{event['name_en']}}</caption>
                    {% endif %}
                    {% endif %}
                    {% if card['card_type'] == 'event_reward' %}
                    <div style="font-size: 1.2rem; font-weight: bold;">Event Reward</div>
                    {% endif %}
                    {% if card['card_type'] == 'event_gacha' %}
                    <div style="font-size: 1.2rem; font-weight: bold;">Event Gacha</div>
                    {% endif %}
                </div>
            </div>
            {% endif %}
        </div>
        <div class="col-xl-4 col-12 py-5">
            <span style="font-size: 1.5rem;">Skill</span>
            {% for skill in card['skills']['active'] %}
            <div class="row justify-content-start skill-bg my-1">
                <div class="col-3">
                    <img height="72" src="{{tex(skill['thumbnail_image_asset'])}}" alt="" />
                </div>
                <div class="col text-left">
                    <span><strong>{{skill['name_jp']}}
                            {% if skill['name_en'] %}({{skill['name_en']}}){% endif %}</strong>
                    </span>
                    {% set skill_effects = skill|skill %}
                    {% for skill_info in skill_effects %}
                    <div>{{skill_info['effect']}}</div>
                    <div>{% if skill_info['trigger'] %}On: {{skill_info['trigger']}}{% endif %}
                        {% if skill_info['target'] %}Target: <strong>{{skill_info['target']}}</strong>{% endif %}</div>
                    {% if not loop.last %}<br />{% endif %}
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
            <span style="font-size: 1.5rem;">Abilities</span>
            {% for skill in card['skills']['passive'] %}
            <div class="row justify-content-start skill-bg my-1">
                <div class="col-3">
                    <img height="72" src="{{tex(skill['thumbnail_image_asset'])}}" alt="" />
                </div>
                <div class="col text-left">
                    {% set skill_effects = skill|skill %}
                    {% for skill_info in skill_effects %}
                    <div>{{skill_info['effect']}}</div>
                    {% if skill_info['trigger'] %}<div>Trigger: <strong>{{skill_info['trigger']}}</strong></div>
                    {% endif %}
                    {% if skill_info['target'] %}<div>Target: <strong>{{skill_info['target']}}</strong></div>{% endif %}
                    {% if not loop.last %}<br />{% endif %}
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
            <div class="row">
                <div class="col">
                    <table class="table text-center" style="color: #fff;">
                        <thead>
                            <tr>
                                <th scope="col"></th>
                                <th scope="col"><img height="32" src="{{icon('appeal')}}" alt="Appeal" /></th>
                                <th scope="col"><img height="32" src="{{icon('stamina')}}" alt="Stamina" /></th>
                                <th scope="col"><img height="32" src="{{icon('technique')}}" alt="Technique" />
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for i in range(0, 6) %}
                            {% set stats = card['stats']['stat_summary'][i|string] %}
                            <tr>
                                <th scope="row" class="align-middle" style="font-size: 0;">
                                    {% for j in range(i) %}
                                    <img width="16" src="{{icon('lb_full')}}" alt="" />
                                    {% endfor %}
                                    {% for j in range(5 - i) %}
                                    <img width="16" src="{{icon('lb_empty')}}" alt="" />
                                    {% endfor %}
                                </th>
                                <td>{{stats['appeal']}}</td>
                                <td>{{stats['stamina']}}</td>
                                <td>{{stats['technique']}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            {% if card['outfits']|length > 0 %}
            <span style="font-size: 1.5rem;">Outfit</span>
            <div class="row py-3">
                {% for suit in card['outfits'] %}
                <div class="col-6">
                    <div>
                        <img src="{{tex(suit['thumbnail_image_asset'])}}" alt="" />
                        <p class="py-1">
                            {{suit['name_jp']}}
                            {% if suit['name_en'] %}
                            <br />{{suit['name_en']}}
                            {% endif %}
                        </p>
                    </div>
                </div>
                {% endfor %}
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock content %}