body {
    background-color: #222;
    color: #ccc;
}

.img-hl img {
    box-shadow: 0 0 3pt 1pt #aaa, inset 0 0 3pt 1pt #aaa;
}

.fake-link {
    cursor: pointer;
}

.skill-bg {
    background-color: #111;
    border: 2px solid #555;
    border-radius: 5px;
    padding: 5px;
}

.live-view {
    border: 2px solid #ccc;
    border-radius: 5px;
}

.song-group-muse {
    background-color: #351428;
}

.song-group-aqours {
    background-color: #002B3F;
}

.song-group-nijigasaki {
    background-color: #4D3B15;
}